{
    "Client": {
        "GameLaunchWindowBehavior": "2",
        "GameSearch": {
            "BackgroundSearch": "true"
        },
        "HardwareAcceleration": "false",
        "Sound": {
            "Enabled": "false"
        },
        "Streaming": {
            "StreamingEnabled": "false"
        }
    }
}
